[core]
  autocrlf = false
  editor = vim
  ignorecase = true
  excludesfile = ~/.gitignore_global
  quotepath = false                         # 日本語文字化け対策
[credential]
  helper = windred                          # 入力した認証情報をキャッシュ
[user]
  name = tokane888
  email = tokane888@gmail.com
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
[fetch]
  prune = true                              # pull時にremoteで削除済みのブランチはlocalでも削除
[push]
  default = simple                          # 同じ名前のブランチへしかpushしない
[alias]
  cg = config --global
  clg = config -l --global
  cm = commit -m
  b = branch
  ch = checkout
  cp = !"git checkout master && git pull"
  cpr = !"git checkout master && git pull && git checkout - && git rebase master"
  dc = diff --cached
  st = status
  ss = stash save
  sp = stash pop
  sl = stash list
  lo = log --oneline
  lod = log --pretty=format:'%C(auto)%h%d [%ad] %s <%cn>' --date=format:'%Y/%m/%d %H:%M:%S'
  dw = diff -w
  tree = log --graph --pretty=format:'%x09%C(auto) %h %Cgreen %ar %Creset%x09by"%C(cyan ul)%an%Creset" %x09%C(auto)%s %d'
