[core]
  autocrlf = false
  editor = vim
  ignorecase = true
  excludesfile = ~/.gitignore_global
  pager = cat
  quotepath = false  # 日本語文字化け対策
[user]
  name = tokane888
  email = tokane888@gmail.com
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
[fetch]
  prune = true       # pull時にremoteで削除済みのブランチはlocalでも削除
[pager]
  branch = false     # git branch時にterminal専有しない
[pull]
  rebase = true
[push]
  default = current  # 同じ名前のブランチへpushする。なければ作る
[alias]
  lod = log --pretty=format:'%C(auto)%h%d [%ad] %s <%cn>' --date=format:'%Y/%m/%d %H:%M:%S'
